{{> partials/header }}

<ul class="nav nav-tabs" role="tablist">
  <li><a href="index.html">Browse</a></li>
  <li class="active"><a href="#">Dashboard</a></li>
</ul>

<div> &nbsp; </div>

<div class="row">
    <div class="col-xs-6 col-md-3">

        <div class="panel status panel-success">
            <div class="panel-heading">
                <h1 class="panel-title text-center">25</h1>
            </div>
            <div class="panel-body text-center">                        
                <strong>Ready to test</strong>
            </div>
        </div>

    </div>
    <div class="col-xs-6 col-md-3">

        <div class="panel status panel-warning">
            <div class="panel-heading">
                <h1 class="panel-title text-center">25</h1>
            </div>
            <div class="panel-body text-center">                        
                <strong>Easy to fix (2-5 issues)</strong>
            </div>
        </div>

    </div>
    <div class="col-xs-6 col-md-3">

        <div class="panel status panel-danger">
            <div class="panel-heading">
                <h1 class="panel-title text-center">25</h1>
            </div>
            <div class="panel-body text-center">                        
                <strong>Needs major refactoring</strong>
            </div>
        </div>

    </div>
    <div class="col-xs-6 col-md-3">

        <div class="panel status panel-info">
            <div class="panel-heading">
                <h1 class="panel-title text-center">25</h1>
            </div>
            <div class="panel-body text-center">                        
                <strong>Total issues</strong>
            </div>
        </div>

    </div>
</div>

<table class="table table-striped table-hover table-condensed">
	<thead>
		<tr>
			<th>
				<span class="label label-success">Ready to test (no issues)</span>
			</th>
		</tr>
	</thead>
	<tbody>
		{{#readyToTest}}
		<tr>
			<td><a href="{{.}}.html">{{.}}</a></td>
		</tr>
		{{/readyToTest}}
	</tbody>
</table>

{{> partials/footer }}