{{> partials/header }}

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="index.html">Browse</a></li>
  <!-- <li><a href="dashboard.html">Dashboard</a></li> -->
</ul>

<h4>{{currentPath}} {{#untestable}}<span class="label label-danger">Untestable</span>{{/untestable}}</h4>

<table class="table table-striped table-hover table-condensed">
	<thead>
		<tr>
			<th>Directory</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{{^isBaseDir}}
		<tr>
			<td><span class="glyphicon glyphicon-folder-open"></span>&nbsp; <a href="../index.html">../</a></td>
			<td>&nbsp;</td>
		</tr>
		{{/isBaseDir}}
		
		{{#dirs}}
		<tr>
			<td><span class="glyphicon glyphicon-folder-open"></span>&nbsp; <a href="{{name}}/index.html">{{name}}/</a></td>
			<td>
				{{#issues}}
				<span class="label label-danger">{{issues}} Issues</span>
				{{/issues}}

				{{^issues}}
				<span class="label label-success">Testable</span>
				{{/issues}}
			</td>
		</tr>
		{{/dirs}}

		{{#files}}
		<tr>
			<td><a href="{{file}}.html">{{file}}</a></td>
			<td>
				{{#untestable}}
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Untestable
				{{/untestable}}
				{{^untestable}}
					{{#issues}}
				<span class="label label-danger">{{issues}} Issues</span>
					{{/issues}}

					{{^issues}}
				<span class="label label-success">Testable</span>
					{{/issues}}
				{{/untestable}}
			</td>
		</tr>
		{{/files}}

	</tbody>
</table>

{{> partials/footer }}
