{{> partials/header }}

<h4>{{currentPath}} {{#untestable}}<span class="label label-danger">Untestable</span>{{/untestable}}</h4>

<table class="table table-hover table-condensed">
	<tbody>
		<tr>
			<th>
			{{^isBaseDir}}
			  <span class="glyphicon glyphicon-folder-open"></span>&nbsp; <a href="../index.html">../</a>
			{{/isBaseDir}}
			</th>
			<th class="text-center">Testable procedures</th>
			<th class="text-center">Testable / Total</th>			
		</tr>	
		
		{{#dirs}}
		<tr class="active">
			<th>
				<span class="glyphicon glyphicon-folder-open"></span>&nbsp;
				<a href="{{name}}/index.html">{{name}}/</a>
			</th>
			<th class="{{label}} text-center">
				{{#untestable}}
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Untestable
				{{/untestable}}
				{{^untestable}}
				<a href="{{name}}/index.html">{{percent}}%</a>
				{{/untestable}}
			</th>
			<th class="{{label}} text-center">
				<a href="{{name}}/index.html">{{testable}} / {{total}}</a>
			</th>
		</tr>
		{{/dirs}}

		{{#files}}
		<tr>
			<td><a href="{{name}}.html">{{name}}</a></td>
			<td class="{{label}} text-center">
				{{#untestable}}
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Untestable
				{{/untestable}}
				{{^untestable}}
				<a href="{{name}}.html">{{percent}}%</a>
				{{/untestable}}
			</td>
			<td class="{{label}} text-center">
				<a href="{{name}}.html">{{testable}} / {{total}}</a>
			</td>
		</tr>
		{{/files}}

	</tbody>
</table>

{{> partials/footer }}
