{{> partials/header }}

<h4>{{currentPath}} {{#untestable}}<span class="label label-danger">Untestable</span>{{/untestable}}</h4>

<table class="table table-striped table-hover table-condensed">
	<tbody>
		{{#scopes}}
		<tr>
			<td><a href="#{{startLine}}">{{name}}</a></td>
			<td>
				{{#issues}}
				<a href="#{{startLine}}" class="btn btn-danger btn-xs" role="button">
				  Issues <span class="badge">{{issues}}</span>
				</a>
				{{/issues}}

				{{^issues}}
				<a href="#{{startLine}}" class="btn btn-success btn-xs" role="button">Testable</a>
				{{/issues}}
			</td>
		</tr>
		{{/scopes}}
		{{^scopes}}
		<tr class="success">
			<td> No issues </td>
			<td><span class="label label-success">OK</span></td>
		</tr>
		{{/scopes}}
	</tbody>
</table>

{{#lines}}
{{#issues}}
	<span class="label label-danger">
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
		{{type}} {{#name}}({{.}}){{/name}}
	</span> &nbsp;
{{/issues}}
<div class="codeline{{#issues}} bg-danger{{/issues}}"><a name="{{line}}" href="#{{line}}">{{line}}.</a>	{{text}}</div>
{{/lines}}

{{> partials/footer }}
