
		<!--Content ends here-->

		<div> &nbsp; </div>
		<div>
			Generated {{date}} by <a href="https://github.com/edsonmedina/php_testability">PHP_Testability</a>
		</div>

		</div>
		<div class="col-md-1"></div>
	</div>

	</body>
</html>